@import url('https://fonts.googleapis.com/css2?family=Montserrat');

html,
body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  width: 100%;
}

#header {
  height: 100%;
  width: 100%;
  background-image: url('../images/apple-pie.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  color: white;
  font-size: 6.5em;
  font-weight: 500;
  margin: 0;
}

#summary,
#ingredients,
#directions {
  margin: 0 15%;
}

.divisor {
  background: gray;
  height: 1.7px;
  margin: 0 auto;
  width: 70%;
}

#summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.introduction {
  color: #5b5b5b;
  font-size: 1.7em;
  margin: 10% 0 0;
  text-align: center;
}

.information-img {
  margin: 5% 0;
}

.sub-title {
  margin: 3% 0;
  font-size: 1.5em;
}

.intructions-container {
  list-style-type: none;
  padding: 0;
  letter-spacing: 0.5px;
  line-height: 2;
}

/* feat: Adding Style Part I:
- Remove margin and padding of the document
- Add height and width of 100% to html and body tags
- Add style to header section: Includes background image and text center alignment 
- Add style to introduction section: Make display flex with column direction with children center aligned  */
